@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(0.95);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }
}

.animate-breathe {
  animation: breathe 4s ease-in-out infinite;
}

.clip-path-slant {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}